.Asset {
  /* text-align: center; */
  /* background-color: #f5f6f7; */
  align-items: center;
  font-size: calc(15px + 4vmin);
  color: rgb(0, 0, 0);
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 10px 0 10px;
}

.Loading {
  text-align: center;
  /* background-color: #f5f6f7; */
  align-items: center;
  font-size: calc(15px + 4vmin);
  color: rgb(0, 0, 0);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 10px 0 10px;
}

.MessageStripe {
  margin: 50px auto 10px auto !important;

  /* padding: 0 16px 0 16px; */
}
.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.AssetCard {
  margin-bottom: 10px;
}

.TransactionCard {
  margin-top: 0px;
}
.TimeLine {
  text-align: center;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Footer {
  background-color: white;
  height: 100%;
  font-family: "72override", var(--sapFontFamily);
  margin-top: 10px;
  /* min-height: calc(100vh - 40px); */
}

.FooterLinks {
  font-size: 13px;
  /* font-size: var(--sapFontSize); */
  /* color: rgb(255, 255, 255); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "72override", var(--sapFontFamily);
  text-align: center;
  margin-top: 40px;
}
.footerLinks-icon {
  margin-right: 3px;
  vertical-align: bottom;
}

.footerShare-title {
  text-align: center;
  row-gap: 2rem;
  font-size: 16px;
  font-weight: 700;
  font-family: "72override", var(--sapFontFamily);
  /* line-height: 125%; */
}

.footerPoweredby {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  /* font-weight: 700; */
  font-family: "72override", var(--sapFontFamily);
  /* line-height: 125%; */
}

#tsystemslogo {
  margin-left: 10px;
  vertical-align: middle;
}

.footerShare {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.shareButton {
  margin: 0px 5px 0px 0px;
}

.Text {
  text-align: center;
  background-color: white;
  align-items: center;
  font-size: calc(2px + 4vmin);
  color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

.Tab {
  text-align: left;
  background-color: white;
  align-items: center;
  font-size: calc(2px + 4vmin);
  color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

.onlyT {
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: #e20074;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Apple {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1a1b;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.App-link {
  color: #61dafb;
  font-family: "Josefin Sans", sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px) {
  #asset,
  #footer,
  #shellbar,
  #shellbarDiv,
  #messageStripe {
    max-width: 800px;
    margin: auto;
  }
}
